@font-face {
  src: url("./font/Windows-Regular.woff");
  font-family: "Windows-Regular";
}
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #106f6f;
  font-family: "Windows-Regular";
}

input {
  font-family: "Windows-Regular";
  color: #000;
}

/* body:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
} */

#wrap {
  width: 96%;
  margin: 2% auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 1px solid #efefef;
  border-right-color: #777;
  border-bottom-color: #777;
  background-color: #b3b3b3;
}

.title {
  width: 100%;
  height: 26px;
  line-height:26px;
  text-align:left;
  background-image: linear-gradient(to left, #125ba1 30%, #01006e);
  position: relative;
}

.title .title_text{
  padding-left:10px;
}

.title_box {
  width: 63px;
  position: absolute;
  right: 5px;
  top: 4px;
  display: flex;
  justify-content: space-between;
}

.title_btn {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #efefef;
  outline: none;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  background-color: #aaa;
}

.title_btn.click {
  background-color: #555;
  border: 2px solid #777;
  border-top: 2px solid #efefef;
  border-left: 2px solid #efefef;
}

.container {
  width: 96%;
  height:96%;
  margin:2% 0;
  /* position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.todoForm {
  width: 100%;
  height:40%;
}

.todoList {
  width: 100%;
  height:54%;
  margin:3% 0;
}

.js-clock {
  font-size: 6em;
  padding-bottom: 30px;
}

.locationName {
  font-size: 1.1em;
}

.locationInfo {
  padding: 10px 0;
}

.weather {
  padding-left: 10px;
  color: #efefef;
}

.form {
  margin-bottom: 40px;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  font-size:1.2rem;
}

.form span{
  width:100%;
  text-align:left;
}

input {
  background: #fff;
  border: 2px solid #777;
  border-right-color: #efefef;
  border-bottom-color: #efefef;
  outline: none;
  text-align: center;
  font-size: 1.2em;
}

.checkbox {
  color: #000;
  display: flex;
  align-items: center;
}

.js-checkbox {
  margin-right: 5px;
}

.js-select {
  height:30px;
  margin-right: 10px;
  border: 2px solid #777;
  border-right-color: #efefef;
  border-bottom-color: #efefef;
}

.todo_input {
  margin-top: 10px;
  margin-right: 5px;
}

.submit {
  margin-top: 10px;
  padding: 0 3px;
  background-color: #b3b3b3;
  border: 1px solid #333;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.5rem;
}
.submit input {
  height: 20px;
  padding: 0 3px;
  background-color: #b3b3b3;
  border: 1px solid transparent;
}

.js-submit.clicked {
  border: 1px dotted #333;
}

.js-nameForm {
  padding-top: 60px;
  font-size:1.7rem;
}

.js-list {
  height:74%;
  background-color: #fff;
  margin: 10px;
  margin-top:0;
  padding: 30px;
  border: 2px solid #777;
  border-right-color: #efefef;
  border-bottom-color: #efefef;
  color: #000;
}

.js-list li {
  margin-bottom: 10px;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.js-list li span {
  padding: 0 10px;
}

.delete_btn {
  width: 20px;
  height: 20px;
  margin-left:20px;
  border: none;
  background: none;
  background-image: url("./img/delete.png");
  background-size: 100% 100%;
  cursor: pointer;
}
@keyframes underline{
  0%{width:0;}
  100%{width:100%;}
}
.important span:after{
  content:"";
  display:block;
  border-bottom:2px solid red;
  animation:underline 0.5s ease;
}

.important:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("./img/important.png");
  background-size: 100% 100%;
}

.category {
  padding: 0 5px;
  font-size: 0.8rem;
  border: 1px solid #555;
  border-right-width: 2px;
  border-bottom-width: 2px;
  color: #fff;
  background-color: orange;
}

.category.java {
  background-color: green;
}
.category.c {
  background-color: purple;
}
.category.c_pl {
  background-color: red;
}
.category.python {
  background-color: black;
}
.category.algo {
  background-color: skyblue;
}
.category.proj {
  background-color: blue;
}

.tabs{
  text-align:left;
  color:#000;
  padding:5px 0 0 10px;
}
