@font-face {
  src: url("./font/Windows-Regular.woff");
  font-family: "Windows-Regular";
}
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #106f6f;
  font-family: "Windows-Regular";
}

input {
  font-family: "Windows-Regular";
  color:#000;
}

/* body:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
} */

#wrap {
  width: 95%;
  height: 300px;
  margin: 0 auto;

  position: relative;
  transform: translateY(50px);
}

.box {
  border: 1px solid #efefef;
  border-right-color: #777;
  border-bottom-color: #777;
  background-color: #b3b3b3;
}

.title {
  width: 100%;
  height: 26px;
  background-image: linear-gradient(to left, #125ba1 30%, #01006e);
  position: relative;
}

.title_box {
  width: 63px;
  position: absolute;
  right: 5px;
  top: 4px;
  display: flex;
  justify-content: space-between;
}

.title_btn {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #efefef;
  outline: none;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  background-color: #aaa;
}

.title_btn.click {
  background-color: #555;
  border: 2px solid #777;
  border-top: 2px solid #efefef;
  border-left: 2px solid #efefef;
}

.container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.todoForm {
  width: 38%;
}

.todoList {
  width: 58%;
}

.js-clock {
  font-size: 6em;
  padding-bottom: 30px;
}

.locationName {
  font-size: 1.1em;
}

.locationInfo {
  padding: 10px 0;
}

.weather {
  padding-left: 10px;
  color: #efefef;
}

.form {
  margin-bottom: 40px;
  padding: 0 5%;
}

input {
  background: #fff;
  border: 2px solid #777;
  border-right-color: #efefef;
  border-bottom-color: #efefef;
  outline: none;
  text-align: center;
  font-size: 1.2em;
}
.submit{
  background-color:#b3b3b3;
  border: 1px solid #333;
  border-right:2px solid #333;
  border-bottom:2px solid #333;
}

.js-nameForm {
  padding-top: 60px;
}

.js-list li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.js-list li span {
  padding: 0 10px;
}
